.container-footer{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.container-card-footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.title-footer{
  font-weight: 700;
  font-size: 18px;  
}
.text-footer{
    font-weight: 400;
    font-size: 16px;
    width: 190px;
}
@media only screen and (max-width : 1023px )  {}

@media only screen and (max-width : 768px )  {}