
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 4rem;
    height: 19px;
    padding: 30px 0px 30px 0px ;
}
.container-lien-header{
    display: flex;
    gap: 68px;
    
}
.lien-header{
    text-decoration: none;
    color: black;
    padding-top: 22px;
    font-size: 16px;
    

}
.lien-header:hover{
border-top: 2px solid #0065FC ;
color: #0065FC;

}