.container-hebergement-populaire {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.container-hébergement {
  margin-top: 40px;
  padding: 30px;
  background-color: #f2f2f2;
  /* width: 65%; */
  width: 60vw;
  height: 610px;
  border-radius: 15px;
}
.title-Hébergements {
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 20px;
}
.container-icon-hebergement-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  row-gap: 1vw;
}
.container-icon-hebergement {
  background-color: #ffffff;
  width: 30%;
  height: 230px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 8px;
}
.img-icon-hebergement {
  height: 140px;
  border-radius: 20px 20px 0px 0px;
}
.container-etoiles {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  gap: 8px;
}
.title-icon-hebergment {
  font-size: 0.9vw;
  font-weight: 700;
}
.texte-icon-hebergement {
  font-size: 0.8vw;
  font-weight: 600;
}
.etoile::before {
  content: "\f005\f005\f005\f005";
  font-family: "fontAwesome";
  color: blue;
}
.etoile::after {
  content: "\f005";
  font-family: "FontAwesome";
  color: #f2f2f2;
}
.texte-hebergement {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

/* populaire */

.container-pupolaire {
  margin-top: 40px;
  background-color: #f2f2f2;
  width: 30%;
  height: 610px;
  padding: 30px;
  border-radius: 15px;
}
.container-title-populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 40px;
}
.font-populaire {
  color: #0065fc;
}
.container-icon-populaire {
  padding: 4px;
  margin-top: 30px;
  background-color: white;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.img-populaire {
  width: 6.5vw;
  height: 150px;
  border-radius: 20px 0px 0px 20px;
}
.container-icon-title-populaire {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 15px;
  gap: 10px;
  width: 48%;
}
.title-icon-populaire {
  font-size: 0.9vw;
  font-weight: 700;
}
.texte-icon-populaire {
  font-size: 0.8vw;
  font-weight: 400;
}
.etoile-populaire {
  margin-top: auto;
}
.etoile-populaire::before {
  content: "\f005\f005\f005\f005";
  font-family: "fontAwesome";
  color: blue;
}
.etoile-populaire::after {
  content: "\f005";
  font-family: "FontAwesome";
  color: #f2f2f2;
}
